  <div class="w3-container w3-display-container w3-bar w3-black">
    <p>To-Do</p>
  </div>

<div class = "card-deck-container" >

	<div  *ngFor="let item of items" id = "outerCard" layout-fill layout="column" layout-align="center none" class = "listCard card-item  " (drop)="drop($event,item)" 
      (dragover)="allowDrop($event)">
		<mat-card >
			<mat-card-header >
			<!-- <div class="w3-bar" >
					<span class=" w3-left cardContent">{{item.Title}}</span>
					<button class="w3-button w3-right w3-light-grey" style = "margin-bottom:1%;" (click)="deleteList(item)">Delete this list </button>
			</div> -->
				<mat-card-title class = "cardContent"> <strong>{{item.Title}} </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								
								<button  color="warn" class = "btn1 w3-button w3-right w3-btn w3-white w3-border w3-border-red w3-round-large" (click)="deleteList(item)"> Delete this list </button>
				</mat-card-title> 
				
			</mat-card-header>
			<mat-card-content id = "innerCard" *ngFor="let card of item.Content" (click)="onSelect(card,item)" draggable="true" 
      (dragstart)="drag($event,card,item)">
				<mat-card >
					<mat-card-content class = "cardContent">
						{{card.cardTitle}}
					</mat-card-content>
				</mat-card> 
			</mat-card-content>
			<mat-divider></mat-divider>
			<mat-card-actions>
				<button class = "w3-button  w3-btn w3-light-gray w3-border w3-border-light-gray w3-round-large" (click)="addCard(item)">Add new card...</button>
			</mat-card-actions>
		</mat-card> 	
	</div>
	<div layout-fill layout="column" layout-align="center none" class = "listCardNewList card-item ">
		
			
				<button mat-stroked-button color="primary" class = "listCreateBtn w3-button w3-btn w3-white w3-border w3-border-blue w3-round-large" (click)="addList()">Add new List...</button>
			
			
	</div>

</div>